main {
    position: relative;
}
#mainImg {
    max-width: 100%;
    z-index: 1;
}
header {
    background-color: #3f3b38;
    padding: 2em 0em 0em 2em;
}
#title {
    
    color: white;
    margin-top: 0;
}
    #title h1 {
        font-size: 3em;
        margin: 0;
    }
    #title h3 {
        font-size: 1.2em;
        font-style: italic;
        margin: 0;
    }

#dropDownMenu ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
}
#dropDownMenu ul li {
    margin: 1em 1em 1em 0em;
    color: white;
    cursor: pointer;
}
.usersOnly {
    display: none;
}
#createAccount {
    display:none;

}
#styleAccount {
    display: grid;
    grid-template-columns: 40% 1fr;
}
#petCollage {
    display:grid;
    grid-template-columns: 50% 1fr 1fr;
}
    #petCollage img {
        max-width: 100%;
        background-size: cover;
    }
#dogImg3 {
    grid-row: span 3;
   
}
#catImg2 {
    grid-row: span 2;
}
#dogImg2 {
    grid-column-start: 2;
    grid-column: span 2;
}
#create {
    justify-self: center;
    border: 1px solid #3f3b38;
    padding: 0em 2em;
}
#loginDisplay {
    display:grid;
}
#register {
    display: none;
}
#login {
    justify-self: center;
    border: 1px solid #3f3b38;
    padding: 1em 1em;
}
#setAppointment {
    display:none;
}
#appointmentContainer {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#appointmentForm {
    display: none;
}