<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Teen ager provides dog walking in Flagstaff Arizona">
    <meta name="keywords" content="dog walking">
    <meta name="author" content="Sheena Jessee">
    <title>Puppy Palz Dog Walking</title>
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/bootstrap-calendar/css/calendar.css">
   
   
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="scripts/script.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap-calendar/js/calendar.js"></script>
    
</head>
</head>

<body>
    <header>
        <div id="title">
            <h1> Puppy Palz</h1>
            <h3> Dog walking and Pet sitting </h3>
        </div>

        <div id="dropDownMenu">
            <ul id="menuList">
                <!--<li id="menu">Menu</li>-->
                <li class="listItems" id="signout">Sign Out</li>
                <li class="listItems" id="about">About Me </li>
                <li class="listItems" id="faq">FAQ </li>
                <li class="listItems" id="rates"> Rates </li>
                <li class="listItems" id="setUp"> Set Up Walking Appointment</li>
               <!--<li class="listItems" id="cat"> Cat sitting </li>-->
                <li class="listItems" id="dogSit"> Dog Sitting </li>

            </ul>
        </div>
    </header>
    <main>
        <div id="mainImgDiv">
            <img src="image/dog.jpg" id="mainImg" alt="person walking a dog" />
        </div>
		<div id="calendar"></div>
		

       
    </main>

</body>

</html>