<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Teen ager provides dog walking in Flagstaff Arizona">
    <meta name="keywords" content="dog walking">
    <meta name="author" content="Sheena Jessee">
    <title>Puppy Palz Dog Walking</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="scripts/script.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <header>
        <div id="title">
            <h1> Puppy Palz</h1>
            <h3> Dog walking and Pet sitting </h3>
        </div>

        <div id="dropDownMenu">
            <ul id="menuList">
                <!--<li id="menu">Menu</li>-->
                <li class="listItems" id="loginUser">Login/Register</li>
                <li class="listItems" id="about">About Me </li>
                <li class="listItems" id="faq">FAQ </li>                

            </ul>
        </div>
    </header>
    <main>
        <div id="mainImgDiv">
            <img src="image/dog.jpg" id="mainImg" alt="person walking a dog" />
        </div>

        <div id="createAccount">
            <div id="styleAccount">
                <div id="loginDisplay">
                    <div id="login">
                        <form id="loginForm" action="/login" method="get">
						    <div>
                               <label for="loginUserName">Username: </label>
                               <input type="text" id="loginUserName" name="username">
							</div>
							<div>
                               <label for="loginPassword">Password: </label>
                               <input type="password" id="loginPassword" name="password">
							</div>
                            <button type="submit" id="loginButton">Login</button>
                            <button type="button" id="registration">Create New Account</button>
							<div id="validationLogin">
							</div>
						</form>
                    </div>
                </div>
                <div id="register">
                    <div id="create">
                        <h1>create Account</h1>
                        <form id="userForm" action="/createUser" method="post">
                            <div class="items">
                                <label for="name">First and Last Name </label>
                                <input type="text" id="name" name="name">
                            </div>

                            <div class="items">
                                <label for="username">Username</label>
                                <input type="text" id="username" name="username">
                            </div>

                            <div class="items">
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password">
                            </div>

                            <div class="items">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email">
                            </div>

                            <div class="items">
                                <label for="address">Address</label>
                                <textarea id="address" name="address"> </textarea>
                            </div>

                            <div class="items">
                                <label for="petName">Pets Name </label>
                                <input type="text" id="petName" name="petName">
                            </div>

                            <div class="items">
                                <label for="breed">Dog Breed</label>
                                <input type="text" id="breed" name="breed">
                            </div>

                            <div class="items">
                                <h3>Dog Size </h3>
                                <input type="radio" id="size1" name="size" value="small">
                                <label for="size1">Small </label>

                                <input type="radio" id="size2" name="size" value="medium">
                                <label for="size2">Medium</label>

                                <input type="radio" id="size3" name="size" value="large">
                                <label for="size3">Large </label>
                            </div>

                            <div class="items">
                                <label for="comments">Tell Me Your Pet's Needs</label><br>
                                <textarea id="comments" name="comments" cols="30" rows="10"></textarea>
                            </div>

                            <button type="submit" name="submit" value="Submit"> Add My Info </button>

                        </form>
                    </div>
                </div>
                <div id="petCollage">
                    <img src="image/dog3.jpg" id="dogImg3" alt="a dog" />
                    <img src="image/cat1.jpg" id="catImg1" alt="a cat" />
                    <img src="image/cat2.jpg" id="catImg2" alt="a cat" />
                    <img src="image/dog1.jpg" id="dogImg1" alt="a dog" />
                    <img src="image/dog2.jpg" id="dogImg2" alt="a dog" />
                </div>
            </div>
        </div>
    </main>

</body>

</html>